body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Fondo gris claro */
    margin: 0;
    padding: 0;
}

.login-form {
    max-width: 400px;
    width: 100%;
}

h2 {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
}

.btn-primary {
    background-color: #7f0ea8;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #b3004b;
}

a {
    color: #c800ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
